{% embed 'partials/base.html.twig' %}

    {% set collection = page.collection() %}

 {% block content %}
    <div class="main-content">
        <div class="container">
        {{ page.content|raw }}
        {% include 'partials/news.html.twig' %}
        </div>
    </div>
{% endblock %}

{% endembed %}


