{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative ~ '/' ~ blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}

<div class = "region region-sidebar-second well">
    <div class="sidebar-content">


    <h3>Contact Us</h3>
    <p>You can contact us <a href="https://jalt.org/email/node/15/field_group_email">via the main JALT site</a>. </p>

    <h3>Recent News</h3>
        <ul>

       {% for post in taxonomy.findTaxonomy({'content':'news'}, "or").order('date', 'desc').slice(0, 2)  %}
         <li><a href="{{ post.url }}">{{ post.title|e }}</a><br />
            {{ post.date|date(g) }}
         </li>

    {% endfor %}

    </ul>

    <h3>Social Media Links</h3>
        <ul>
          <li><a href="https://www.facebook.com/groups/kqjalt/">KQJALT on Facebook</a></li>
        </ul>

    <h3>JALT National</h3>
    <div class="text-center"><a href="http://jalt.org/"><img src ="{{ base_url }}/images/JALTlogoColor.gif" alt="JALT" width="150" height="52" /></a>
    <p><a href="https://jalt.org/">The Japan Asociation for Languge Teaching</a></p>

    </div>

</div>

